input {
    height: 3rem;
    font: var(--body-md);
    font-weight: 400;

    &[required] + #error {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--danger);

        margin-top: .5rem;
    }

    &:invalid, &:invalid:focus {
        border-color: var(--danger);
        outline: var(--danger);
    }

    &:valid + #error {
        display: none;
    }
}

.default-input {
    background-color: var(--input-base);
    color: var(--text-heading);
    border: .0625rem solid var(--input-stroke);
    border-radius: .5rem;

    &:active, &:focus {
        outline: .0625rem solid var(--brand-light);
        border-color: var(--brand-light);
    }
}

.input-padding {
    padding: .8125rem 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

input[type="datetime-local"] {
    color: var(--input-placeholder);
    text-transform: uppercase;
    font: var(--body-md);
    font-weight: 400;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.radio-wrapper-type {
    display: flex;
    gap: .25rem;

    height: 3rem;
    overflow: hidden;
    padding: .25rem;

    & input[type="radio"]{
        appearance: none;
    }

    &:active {
        outline: 0;
        border-color: var(--input-stroke);
    }

    & label {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .radio-content-type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        flex: 1;

        position: relative;
        border-radius: .3125rem;

        &:has(:checked), &:has(:focus), &:has(:hover){
            background-color: var(--shape-button);
        }

        &:has(:checked) {

            & #in-person {
                background-image: url(../../assets/icon/in-person-checked.svg);
            }

            & #online {
                background-image: url(../../assets/icon/online-checked.svg);
            }
        }
    }
}

textarea {
    min-width: 100%;
    max-width: 35rem;
    min-height: 8.5rem;

    font: var(--body-md);
    padding: 1rem;
}

#personalization {
    grid-template-columns: 1fr 2fr;

}

.radio-wrapper-color {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;

    & input[type="radio"]{
    all: unset;
    outline: none;
    cursor: pointer;

    position: absolute;
    inset: 0;
    }

    & .radio-content-color {
        border-radius: 50%;
        border: .25rem solid var(--shape-button);
        outline: .125rem solid var(--shape-button);

        width: 2.5rem;
        height: 2.5rem;
        position: relative;

        &:has(:checked), &:has(:focus), &:has(:hover) {
            outline-color: var(--brand-light);
        }
    }


}

.radio-wrapper-theme {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.375rem, 1fr));
    gap: .5rem;

    & input[type="radio"]{
    all: unset;
    outline: none;
    cursor: pointer;

    position: absolute;
    inset: 0;
    }

    & .radio-content-theme {
        
        position: relative;
        display: grid;
        gap: .5rem;

        background-color: var(--shape-button);
        border-radius: .5rem;
        outline: .0625rem solid var(--input-stroke);

        text-align: center;
        padding: .25rem .25rem .5rem;

        


        &:has(:checked), &:has(:focus), &:has(:hover){
            outline: .125rem solid var(--brand-light);
        }

        img {
            border-radius: .25rem;
            width: 100%;
        }
    }
}

.switch-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;

    input[type="checkbox"]{
        all: unset;
        width: 3.625rem;
        height: 2rem;
        margin-block: .5rem;
        padding-inline: .25rem;

        background-color: var(--input-base);
        outline: .0625rem solid var(--input-stroke);
        border-radius: 3.125rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        position: relative;
        transition: all .3s;

        &::after{
            content: "";
            display: block;
            width: 1.5rem;
            height: 1.5rem;

            background-color: var(--input-stroke);
            border-radius: 50%;
            transition: all .3s;

            position: absolute;
        }

        &:focus, &:hover {
            background-color: var(--input-stroke);
            outline: var(--text-body);
        }

        &:focus::after, &:hover::after {
            background-color: var(--text-body);
        }

        &:checked {
            background-color: var(--brand-light);
        }

        &:checked::after{
            background-color: var(--text-heading);
            transform: translateX(142%);
        }
    }
}

.file-wrapper {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: .75rem;
    position: relative;

    & .file-content {
        background-color: var(--shape-button);
        border-radius: .5rem;
        margin-block: .25rem;
        padding-inline: .75rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        width: 7.5rem;
        height: 2.5rem;

        & span {
            background-image: url(../../assets/icon/upload.svg);
            height: 1rem;
            width: 1rem;
        }

        &:hover, &:focus-within {
            outline: .125rem solid var(--brand-light);

            span {
                background-image: url(../../assets/icon/upload-hover.svg);
            }
        }

        input[type="file"] {
            all: unset;
            opacity: 0;
            cursor: pointer;

            position: absolute;
            inset: 0;
        }

        label {
            font: var(--body-sm);
        }
    }

    #file-message {
        color: var(--input-placeholder);

        max-width: 14.625rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:has(.file-content > input:valid) {
        #file-message {
        display: none;
        }
    }
}