#app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "aside" "main";
    gap: 1.25rem;
    margin: 1.25rem;
    overflow: hidden;
}

aside {
    background: url(../assets/image/Background.png) no-repeat center/cover;
    border-radius: .75rem;
    min-height: 45.5rem;
    max-height: 50rem;
    width: auto;
    padding: 2rem;

    grid-area: aside;
    position: static;

    & h2 {
        display: block;
        font: var(--logo);
        color: var(--pink);
        margin-block: 1rem .5rem;
    }

    & p {
        font: var(--body-md);
        color: var(--text-body);
        margin-top: 1rem;
        font-weight: 300;
    }

    & img {
        height: 3rem;
        width: 2.86rem;        
    }

}

img {
    max-width: 100%;
    object-fit: cover;
}

.main-container {
    overflow: auto;
    background-color: var(--shape-body);
    width: 100%;
    border-radius: .75rem;

    grid-area: main;
    padding: 5rem;

    & .invite {
        max-width: 35rem;
        margin-inline: auto;
    }

    & h2 {
        font: var(--heading-md);
        color: var(--text-heading);
        margin-bottom: 2.5rem;
    }
}
