.text-heading {
    font: var(--heading-sm);
    color: var(--text-heading);
}

.gap-16 {
  gap: 1rem;
}

.gap-28 {
  gap: 1.75rem;
}

.mb-12 {
  margin-bottom: .75rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-28 {
  margin-bottom: 1.75rem;
}

.brand-light {
  background-color: var(--brand-light);
}

.navy {
  background-color: var(--navy);
}

.purple {
  background-color: var(--purple);
}

.fuschia {
  background-color: var(--fuschia);
}

.pink {
  background-color: var(--pink);
}

.danger {
  background-color: var(--danger);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.lime {
  background-color: var(--lime);
}

.green {
  background-color: var(--green);
}

.cyan {
  background-color: var(--cyan);
}